body {
	color: #eed;
	font-family: Helvetica, Arial, sans-serif;
}

input#distLocation {
	width: 370px;
}

input#submit {
	position: absolute;
	bottom: 10;
	right: 10;
}

div#pluginList>div {
	padding-bottom: 8px;
}