body {
	color: #eed;
	font-family: Helvetica, Arial, sans-serif;
}

input#distLocation {
	width: 100%;
}

input#submit {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

div#pluginList>div {
	padding-bottom: 8px;
}

p#infoP {
	position: fixed;
	bottom: 20px;
	right: 10px;
	width: 30%;
}

p#successP {
	color: lime;
	position: fixed;
	bottom: 20px;
	right: 10px;
	width: 30%;
}

p#failP {
	color: red;
	position: fixed;
	bottom: 20px;
	right: 10px;
	width: 30%;
}