body {
	color: white;
}

input#distLocation {
	width: 370px;
}

input#specLocation {
	width: 370px;
}

p#failP {
	color: red;
}

p#successP {
	color: lime;
}

input#submit {
	position: absolute;
	bottom: 10;
	right: 10;
}